*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--bg-primary);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  background-color: #000000;
  height: 60px;

  &__container {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .site-logo {
    h1 {
      display: flex;

      img {
        border-radius: 4px;
      }
    }
  }

  .nav-menu, .social-links-menu {
    display: flex;
    margin-inline-start: 1rem;
    font-family: Cocon;
    font-size: 1.2em;

    li {
      &+ li  {
        margin-inline-start: 1rem;
    }
      a {
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-decoration: none;
      }
    }
  }

  .nav-menu {
    li a {
      color: #ffffff;

      &.active {
        color: #3ab6f6;
      }

      &:hover {
        color: #3ab6f6;
      }
    }
  }

  .social-links-menu {
    margin-inline-start: auto;

    li a {
      color: #eeeeee;
    }
  }
}
