*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--bg-primary);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  background-color: #000000;
  height: 60px;

  &__container {
    display: flex;
    align-items: center;
  }

  .nav-menu, .social-links-menu {
    font-family: Cocon;

    li a {
      text-decoration: none;
    }
  }

  .nav-menu {
    li a {
      color: #ffffff;

      &.active {
        color: #3ab6f6;
      }

      &:hover {
        color: #3ab6f6;
      }
    }
  }

  .social-links-menu {
    li a {
      color: #eeeeee;
    }
  }
}
