*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--bg-primary);
  font-family: Cocon, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

a, a:visited {
  color: #3ab6f6;
}

ul {
  list-style: none;
}

main {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 60px;
}

.header {
  background-color: #000000;
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;

  &__container {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 15px;
  }

  .site-logo {
    h1 {
      display: flex;

      img {
        border-radius: 4px;
      }
    }
  }

  .nav-menu, .social-links-menu {
    display: flex;
    margin-inline-start: 1rem;
    font-size: 1.2em;

    li {
      &+ li  {
        margin-inline-start: 1rem;
    }
      a {
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-decoration: none;
      }
    }
  }

  .nav-menu {
    li a {
      color: #ffffff;

      &.active {
        color: #3ab6f6;
      }

      &:hover {
        color: #3ab6f6;
      }
    }
  }

  .social-links-menu {
    margin-inline-start: auto;

    li a {
      color: #eeeeee;
    }
  }
}

// Articles
.archive-hero {
  display: flex;
  max-height: 500px;
  max-width: 1400px;

  &--primary {
    flex-basis: 66.66%;

    .hero-article {
      height: 100%;
      font-size: 2.8vw;
    }
  }

  &--secondary {
    flex-basis: 33.33%;

    .hero-article {
      height: 50%;
      font-size: 1.8vw;
    }
  }

  .hero-article {
    display: block;
    width: 100%;
  
    &__thumb {
      position: relative;
      height: 100%;
  
      img {
        width: 100%;
        height: 100%;
        transition-duration: .2s;

        &:hover {
          filter: brightness(90%);
        }
      }
    }
  
    &__title {
      position: absolute;
      width: 100%;
      bottom: 0;
      padding-top: .5rem;
      padding-bottom: 2rem;
      padding-inline-start: 1rem;
      color: #fff;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), transparent);
  
      &::before {
        content: '';
        position: absolute;
        width: 6.5%;
        height: 3px;
        min-width: 45px;
        top: 0;
        right: 1rem;
        background-color: #3ab6f6;
      }
    }
  }
}

// Grid
.articles-grid {
  padding: 0 15px;

  .divider {
    padding: 2rem 0;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    position: relative;

    &::after,
    &::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: #eee;
      left: 0;
      z-index: -1;
    }

    &::after {
      top: calc(50% - 2px);
    }
    &::before {
      top: calc(50% + 2px);
    }

    span {
      font-size: 19px;
      background-color: #ffffff;
      padding: 0 1rem;
    }
  }

  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

    .article-block {

      &__image-holder {
        position: relative;
        img {
          width: 100%;
          height: auto;
          border-radius: 3px;

          &:hover {
            filter: brightness(90%);
          }
        }

        .article-block__info {
          font-size: .9vw;
          color: #3ab6f6;
          padding-top: 6px;
          padding-left: 10px;
          text-transform: uppercase;
          font-weight: bold;
          position: absolute;
          bottom: -1px;
          right: 0;
          width: fit-content;
          background: #fff;

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: -30px;
            border-top: 25px solid transparent;
            border-right: 30px solid #fff;
          }

          .byline-slash {
            margin-left: 8px;
            margin-right: 8px;
            font-size: .8vw;
            color: #7c8d96;
          }

          .author {
            font-weight: normal;
            color: #7c8d96;
          }
        }
      }

      &__description {
        h3 {
          font-size: 1.75vw;
          line-height: 1.3em;
          margin-top: 13px;
          margin-bottom: 30px;

          a {
            color: rgba(41,47,50,1);

            &:hover {
              color: #3ab6f6;
            }
          }
        }
      }
    }
  }
}
